<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content="{{ desc }}"/>
  <meta name="author" content="{{ author }}"/>
  <!--favicon
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
  -->
  <!-- simplebar CSS-->
  <link href="{{ url_for('static', filename='plugins/simplebar/css/simplebar.css') }}" rel="stylesheet"/>
  <!-- Bootstrap core CSS-->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
  <!--Data Tables -->
  <link href="{{ url_for('static', filename='plugins/bootstrap-datatable/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='plugins/bootstrap-datatable/css/buttons.bootstrap4.min.css') }}" rel="stylesheet" type="text/css">
  <!-- animate CSS-->
  <link href="{{ url_for('static', filename='css/animate.css') }}" rel="stylesheet" type="text/css"/>
  <!-- Icons CSS-->
  <link href="{{ url_for('static', filename='css/icons.css') }}" rel="stylesheet" type="text/css"/>
  <!-- Horizontal menu CSS-->
  <link href="{{ url_for('static', filename='css/horizontal-menu.css') }}" rel="stylesheet"/>
  <!-- Custom Style-->
  <link href="{{ url_for('static', filename='css/app-style.css') }}" rel="stylesheet"/>

  <title>{{ appName }}</title>
</head>